<%- include("header")-%>

<h1>About Me</h1>
<p>Hello my name is Abhijeet Lodhiyal . I am a BTECH CSE undergrad . </p>
<p>I am from Nainital , Uttarakhand . This page was created by me so that I can write what I feel.</p>
<p>Sometimes I may be very weird and rude but I am done hiding my feelings.</p>
<p></p>

<%- include("footer")-%>