<%- include("header")-%>

<form action="/" method="post">
    <label for="">Title</label>
    <br>
    <input type="text" name="postTitle">
    <br>
    <label for="">Post</label>
    <br>
    <textarea name="postContent" id="" cols="150" rows="10"></textarea>
    <br>
    <button type="submit" name="submit" class="Submit">Submit</button>
</form>


<%- include("footer")-%>