<%- include("header")-%>
<h1>Contact Me</h1>
<p>You can contact me at my email id : abhijeetlodhiyal@gmail.com </p>
   <p>Alternate id : abhijeetlodhiyal.2018621@gmail.com</p>
   <p>Github link : <a href="https://github.com/Abhijeet-Lodhiyal">Click here</a></p>
   <p>Linkedin link : <a href="www.linkedin.com/in/abhijeet-lodhiyal-45a572221">Click here</a></p>
 <p>Instagram link : <a href="https://www.instagram.com/abhijeetlodhiyal/">Click here</a></p>

<%- include("footer")-%>