<%- include("header")-%>
<h1>Contact Me</h1>
<p>You can contact me at my email id : abhijeetlodhiyal@gmail.com </p>
   <p>Alternate id : abhijeetlodhiyal.2018621@gmail.com</p>
 <p>You can also contact me at instagram although you may not get a response there.</p>  
 <p>Id name is abhijeetlodhiyal</p> 


<%- include("footer")-%>