

<div class="push"></div>
</section>

    <footer id="Foot">
        © An Abhijeet Lodhiyal Production 
        <div class="footer-icons">
            <a href="https://github.com/Abhijeet-Lodhiyal"><i class="fa-brands fa-github fa-lg"></i></a>
            <a href="www.linkedin.com/in/abhijeet-lodhiyal-45a572221"><i class="fa-brands fa-linkedin fa-lg"></i></a>
            <a href="https://www.instagram.com/abhijeetlodhiyal/"><i class="fa-brands fa-instagram fa-lg"></i></a></div>
        
    </footer>
</body>

</html>