<%-include("header")-%>
<form action="/login" method="post" class="form-group">
    <input type="text" placeholder="Name" name="name" class="form-control m-2 form-width">
    <input type="password" placeholder="password" name="password"  class="form-control m-2 form-width">
    <input type="submit" class="btn btn-primary m-3">
</form>

<%-include("footer") -%>