<%- include('header') -%>


    <div class="container startingPage">
        <div class="d-flex align-items-center vh-85">
            <div class="row justify-content-center ">
                <div class="col-12 col-lg-6 textMain">
                    <h1>Hi , I am Abhijeet</h1>
                    <p>A web developer . An upcoming software developer . And many more things . </p>
                    <p>I am passionate about learning new things and exploring new technologies . I want to push myself to the limits and find out what milestones I can accomplish .</p>
                </div>
                <div class="col-12 col-lg-6">
                    <img src="/images/me.png" alt="" >
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="intro">
        <h1 class="startingPageText">About Me</h1>
        <h2>Mic Testing ... 1 2 3</h2>
        <p>Hello and welcome to my Blog . My name is Abhijeet Lodhiyal .  I am a B.TECH CSE undergrad .</p>
        <p>This blog contains things about myself and my life and was created by me so that I can write what I feel . </p>
        <p>Sometimes I may be very weird and rude but I am done hiding my feelings.</p>
        <p>If you have any suggestions feel free to contact me at my email id which is available at the Contact Me section.</p>
        <p>I hope you enjoy reading !</p>
    </div>


    <%- include('footer') -%>